.cartsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
}.image{
  
}.heading{
    width: 177px;
    
    
}