*{
    margin: 10px;

    padding: 0px;
}
.parentnavbar{
   
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1275px;
}
.childnavbar ul{
 
    display: flex;
 flex-direction:row;
gap: 30px;
 font-size: 18px;
 

}
.childnavbar ul li{
    list-style: none;
    font-weight:bold;
     cursor: pointer;
   
}
.plogo{
 display: flex;
 align-items: end;
   flex-direction: row;
}
.logo{
    
     font-size: 34px;
     font-weight: bold;
   
}
.pcircle{
  width: 10px;
    height: 10px;
    background-color: rgb(224, 224, 39);
    border-radius: 500px;
  
        margin-left: -6px;
}
.buttonss{
  width: 300px;
  display: flex;
}
.signinbtn{
   width: 85px;
    background-color: white;
    border-radius: 21px;
    font-size: 14px;
    cursor: pointer;
}
.signupbtn{
   width: 85px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 21px;
    font-size: 14px;
    cursor: pointer;
}